<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Search Engine</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <form action="/search" method="post">-->
<!--      <input type="text" id="keywords" name="keywords">-->
<!--      <input type="submit" value="Search">-->
<!--    </form>-->
<!--  </body>-->
<!--</html>-->

<!DOCTYPE html>
 <html>
 <head>
 <title> Search Engine</title>
 </head>
 <header class="intro-header" style="background-image: url('static/images/bck2.png')">
   <br/>
 <body>
 <center>
 <form action="/search" method="post">
 <h1 style = "font-size:49px; margin-top:200px;"><span style = "color:white">Search Engine</span></h1>
 <input type="text" id="keywords" name="keywords" size="50" style="height: 30px"/>
 <input type="submit" value="Search" style="height: 30px"/><br/>
 <footer style = margin-top:350px;"><span style = "color:white"> <small>This project is done by Nupur(nr572) , Rohit(rl669) , Manisha(mun24) and Mahesh(ms4976). All &copy; Copyright 2020 </small></span></footer>
 </center>
 </form>
 </body>
 </header>
 </html>